body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 0px 10px gray;
}

h2 {
    text-align: center;
    background-color: #f8b400;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gender, .skills {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

button {
    padding: 8px 15px;
    border: none;
    background-color: #f8b400;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e09e00;
}
